<div>
  <div class="form_wrapper">
    <div class="form_container">
      <div class="title_container">
        <h2>Nouvelle Note de Frais</h2>
      </div>
      <div class="row clearfix">
        <div class="">
          <form  [formGroup]="NoteForm" ngNativeValidate>
            <div class="row clearfix">
              <div class="col_half">
                <label>Type de Notes :</label>

                <div class="input_field">
                  <span><i aria-hidden="true" class="fa fa-user"></i></span>
                  <!-- <input type="text" formControlName="etat" placeholder="Etat" />-->
                  <select formControlName="typenote">
                    <option>type 1</option>
                  </select>
                </div>
              </div>

              <div class="col_half">
                <label>Date :</label>
                <div class="input_field">
                  <span><i aria-hidden="true" class="fa fa-calendar"></i></span>
                  <input
                    matInput
                    type="date"
                    formControlName="date"
                    placeholder="date"
                  />
                </div>
              </div>
            </div>

            <div class="row clearfix">
              <div class="col_half">
                <label>collaborateur :</label>

                
                <div class="input_field">
                  <span><i aria-hidden="true" class="fa fa-cog"></i></span>
                  <!-- <input type="text" formControlName="etat" placeholder="Etat" />-->
                  <select formControlName="collab">
                    <option *ngFor="let t of comptes"
                    [value] = "t.idCollaborateur">{{t.nom }} {{t.prenom }}</option>

                  </select>
                </div>
              </div>

              <div class="col_half">
                <label>Recu :</label>
                <div class="input_field">
                  <span><i aria-hidden="true" class="fa fa-calendar"></i></span>
                  <input
                    type="file"
                    formControlName="recu"
                    (change)="onFileSelected($event)" 
                    placeholder=""
                  />
                </div>
              </div>
            </div>
            <div class="row clearfix">
              <div class="col_half">
                <label>Chantier :</label>

                <div class="input_field">
                  <span><i aria-hidden="true" class="fa fa-cog"></i></span>
                  <!-- <input type="text" formControlName="etat" placeholder="Etat" />-->
                  <select formControlName="chantier">
                    <option *ngFor="let chantier of listChantiers"
                    [value] = "chantier.id">{{chantier.reference }}</option>
                   
                  </select>
                </div>
              </div>
            </div>

           
            <button class="btn-rounded"  aria-disabled="false" type="submit" (click)="onSubmit()">
              Soumettre
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
