
  <div class="form_wrapper">
    <div class="form_container">
      <div class="title_container">
        <h2>Changement du mot de passe</h2>
      </div>
      <div class="row clearfix">
        <form [formGroup]="myForm" *ngIf="myForm" novalidate>
         
          <br />
          <p class="headap">
            {{ "SOFPASS.GMDP.P1" | translate }}
          </p>
          <p class="headap">
            {{ "SOFPASS.GMDP.P2" | translate }}
          </p>
          <div class="example-container2">
            <label for="">{{ "SOFPASS.OLD_MDP" | translate }} </label
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-form-field>
              <mat-label>{{ "SOFPASS.OLD_MDP" | translate }} </mat-label>
              <input
                formControlName="ancienMdp"
                [type]="hide ? 'password' : 'text'"
                matInput
              />
              <button
                mat-icon-button
                matSuffix
                (mousedown)="hide = false"
                (mouseup)="hide = true"
                (mouseleave)="hide = true"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
                class="eye-button"
              >
                <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
              </button>
            </mat-form-field>
            <br />
            <label for="">{{ "SOFPASS.NEW_MDP" | translate }} </label> &nbsp;&nbsp;
            <mat-form-field>
              <mat-label>{{ "SOFPASS.NEW_MDP" | translate }} </mat-label>
              <input
                formControlName="nouveauMdp"
                id="nouveauMdp"
                [type]="hideNew ? 'password' : 'text'"
                matInput
              />
              <button
                mat-icon-button
                matSuffix
                (mousedown)="hideNew = false"
                (mouseup)="hideNew = true"
                (mouseleave)="hideNew = true"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideNew"
                class="eye-button"
              >
                <mat-icon>{{ hideNew ? "visibility_off" : "visibility" }}</mat-icon>
              </button>
            </mat-form-field>
            <br />
            <label for="">{{ "SOFPASS.CONFIRM_MDP" | translate }} </label>&nbsp;
            <mat-form-field>
              <mat-label>{{ "SOFPASS.CONFIRM_MDP" | translate }} </mat-label>
              <input
                formControlName="conifrmationNouveauMp"
                [type]="hideConfirNew ? 'password' : 'text'"
                matInput
              />
              <button
                mat-icon-button
                matSuffix
                (mousedown)="hideConfirNew = false"
                (mouseup)="hideConfirNew = true"
                (mouseleave)="hideConfirNew = true"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideConfirNew"
                class="eye-button"
              >
                <mat-icon>{{
                  hideConfirNew ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
      
          <button
            mat-raised-button
            class="btn-rounded"
            [disabled]="!myForm.valid"
            (click)="onSubmit()"
          
          >
            {{ "BOUTTON.SAVE" | translate }}
          </button>
          <br />
          <br /><br />
          <table id="checktab">
            <tbody>
              <tr style="text-align: right" class="spaceUnder">
                <td *ngIf="nouveauMdp.errors?.['majRegex']">
                  <span class="spane">Majuscule</span
                  ><span class="spaneCheck"
                    ><i
                      class="fa fa-check"
                      style="
                        background-color: rgb(0, 0, 0);
                        color: white;
                        padding: 5px;
                      "
                      aria-hidden="true"
                    ></i
                  ></span>
                </td>
                <td *ngIf="!nouveauMdp.errors?.['majRegex']">
                  <span class="spane">Majuscule</span
                  ><span class="spaneCheck"
                    ><i
                      class="fa fa-check"
                      style="background-color: green; color: white; padding: 5px"
                      aria-hidden="true"
                    ></i
                  ></span>
                </td>
                <td *ngIf="nouveauMdp.errors?.['minRegex']">
                  <span class="spane">Minuscule</span
                  ><span class="spaneCheck"
                    ><i
                      class="fa fa-check"
                      style="
                        background-color: rgb(0, 0, 0);
                        color: white;
                        padding: 5px;
                      "
                      aria-hidden="true"
                    ></i
                  ></span>
                </td>
                <td *ngIf="!nouveauMdp.errors?.['minRegex']">
                  <span class="spane">Minuscule</span
                  ><span class="spaneCheck"
                    ><i
                      class="fa fa-check"
                      style="background-color: green; color: white; padding: 5px"
                      aria-hidden="true"
                    ></i
                  ></span>
                </td>
                <td *ngIf="nouveauMdp.errors?.['numRegex']">
                  <span class="spane">Chiffre</span
                  ><span class="spaneCheck"
                    ><i
                      class="fa fa-check"
                      style="
                        background-color: rgb(0, 0, 0);
                        color: white;
                        padding: 5px;
                      "
                      aria-hidden="true"
                    ></i
                  ></span>
                </td>
                <td *ngIf="!nouveauMdp.errors?.['numRegex']">
                  <span class="spane">Chiffre</span
                  ><span class="spaneCheck"
                    ><i
                      class="fa fa-check"
                      style="background-color: green; color: white; padding: 5px"
                      aria-hidden="true"
                    ></i
                  ></span>
                </td>
              </tr>
              <tr style="text-align: right">
                <td *ngIf="nouveauMdp.errors?.['csRegex']">
                  <span class="spane">Caractére spéciale</span
                  ><span class="spaneCheck"
                    ><i
                      class="fa fa-check"
                      style="
                        background-color: rgb(0, 0, 0);
                        color: white;
                        padding: 5px;
                      "
                      aria-hidden="true"
                    ></i
                  ></span>
                </td>
                <td *ngIf="!nouveauMdp.errors?.['csRegex']">
                  <span class="spane">Caractére spéciale</span
                  ><span class="spaneCheck"
                    ><i
                      class="fa fa-check"
                      style="background-color: green; color: white; padding: 5px"
                      aria-hidden="true"
                    ></i
                  ></span>
                </td>
                <td colspan="2" *ngIf="nouveauMdp.errors?.['lenRegex']">
                  <span class="spane">Caractére minimum</span
                  ><span class="spaneCheck"
                    ><i
                      class="fa fa-check"
                      style="
                        background-color: rgb(0, 0, 0);
                        color: white;
                        padding: 5px;
                      "
                      aria-hidden="true"
                    ></i
                  ></span>
                </td>
                <td colspan="2" *ngIf="!nouveauMdp.errors?.['lenRegex']">
                  <span class="spane">Caractére minimum</span
                  ><span class="spaneCheck" class="spaneCheck"
                    ><i
                      class="fa fa-check"
                      style="background-color: green; color: white; padding: 5px"
                      aria-hidden="true"
                    ></i
                  ></span>
                </td>
              </tr>
            </tbody>
          </table>
          <br /><br />
      
          <p class="headap">
            {{ "SOFPASS.GMDP.P3" | translate }}
            <br />
      
            - {{ "SOFPASS.GMDP.P9" | translate }} {{ maj }}
            {{ "SOFPASS.GMDP.P10" | translate }} , {{ min }}
            {{ "SOFPASS.GMDP.P11" | translate }} , {{ chifre }}
            {{ "SOFPASS.GMDP.P31" | translate }}
            <br />
            - {{ "SOFPASS.GMDP.P12" | translate }} {{ caractereMinimum }}
            {{ "SOFPASS.GMDP.P21" | translate }}
            <br />
            - {{ "SOFPASS.GMDP.P9" | translate }} {{ caractereSecial }}
            {{ "SOFPASS.GMDP.P13" | translate }} ( ! " # $ & ' ( ) * + , - . / : ; ? @
            [ \ ] ^ _ ` , ~ ),
            <br />
            - {{ "SOFPASS.GMDP.P14" | translate }}
            <br />
            - {{ "SOFPASS.GMDP.P15" | translate }}
            <br />
            - {{ "SOFPASS.GMDP.P17" | translate }} {{ dureeMdp }}
            {{ "SOFPASS.GMDP.P16" | translate }}
            <br />
      
            {{ "SOFPASS.GMDP.P4" | translate }}
            <br />
      
            {{ "SOFPASS.GMDP.P5" | translate }}
            <br />
          </p>
        </form>
      </div>
    </div>
  </div>

      <div class="example-container">
       
      </div>
      
