.example-container {
    display: flex;
    flex-direction: column;
    width: 1018px;
    overflow: hidden;
    margin: 0%;
    margin-top: 5%;
  }
  .example-container2 .mat-form-field + .mat-form-field {
    margin-left: 8px;
    background-color: #ffffff;
  }
  
  table {
    width: 60%;
    margin-left: 10%;
  }
   td {
    padding: 15px;
    border: 1px solid black;
  }
  .eye-button:focus {
    outline: none !important;
  }
  tr.spaceUnder>td {
    padding-bottom: 1em;
  }
  
  .spane{
    width: 70%;
    margin-right: 5%;
  }
  
  .spaneCheck{
    width: 30%;
  }
  
  
  
  .headap{
    font-style: normal;
      font-variant: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 30px;
      font-family: "Franklin Gothic Book";
      color: #13404d;
      letter-spacing: 0px;
  }
  .example-container > * {
  
    padding-left: 10%;
    top: 20%;
  }
  
  .backgroundWhite {
    border-radius: 8px;
    background-color: #ffffff;
    width: 80%;
    margin: 0%;
    margin-left: 3%;
    margin-top: 2%;
    position: relative;
    overflow: auto;
  }
  
  .hint {
    color: #bf1515;
  }

  h3 {
    height: 33px;
    font-family: WorkSans;
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.68;
    letter-spacing: normal;
    text-align: left;
    color: #373737;
    padding-top: 1%;
    margin-bottom: -3%;
    padding-left: 3%;
  }
  
  .addBtn {
    color: #fff !important;
    height: 43px;
    width: 200px;
    background-color: #006cc2;
    font-family: WorkSans, sans-serif;
    font-weight: bold;
    margin-right: 80px;
    margin-left: 20px;
  }
  .backBtn {
    color: #006cc2 !important;
    height: 43px;
    width: 200px;
    background-color: #ffffff;
    font-family: WorkSans, sans-serif;
    font-weight: bold;
    margin-right: 0px;
    border-color: #006cc2 !important;
  }
  .openDialogBtn {
    color: #ffffff !important;
    height: 43px;
    width: 200px;
    background-color: #006cc2;
    font-family: WorkSans, sans-serif;
    font-weight: bold;
    margin-right: 30px;
    border-color: #006cc2 !important;
  }
  .openDialogBtn:last-child {
    color: #006cc2 !important;
    height: 43px;
    width: 200px;
    background-color: #ffffff;
    font-family: WorkSans, sans-serif;
    font-weight: bold;
    margin-right: 0px;
    border-color: #006cc2 !important;
  }
  
  .buttons {
    float: left;
    margin-top: 20%;
  }
  
  /* ==========open dialog style========*/
  
  h4 {
    height: 33px;
    font-family: WorkSans;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.68;
    letter-spacing: normal;
    text-align: center;
    color: #373737;
    margin-top: 2%;
  }

  
  .blue_snackbar {
    color: #006cc2 !important;
    background: #ffffff !important;
  }
  
  .question {
    font-size: 20px;
    color: rgb(54, 52, 52);
    position: absolute;
    right: 30px;
  }
  
  #add-test-btn-container {
    margin-top: 2em;
  }
  
  .desc-textarea {
    height: 84px;
  }
  .titre1{
    margin-bottom: 15px;
      font-weight: bold;
      font-size: 25px;
      color: #bf1515;
  }







  .clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}
.form_wrapper {
    background: #fff;
    width: 90%;
    max-width: 70%;
    box-sizing: border-box;
    padding: 25px;
    margin: 6% auto 0;
    position: relative;
    z-index: 1;
    border-top: 5px solid #FB0104;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition: none;
    transition: none;
    -webkit-animation: expand 0.8s 0.6s ease-out forwards;
    animation: expand 0.8s 0.6s ease-out forwards;
    opacity: 0;
}
.form_wrapper h2 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0;
}
.form_wrapper .title_container {
    text-align: center;
    padding-bottom: 15px;
}
.form_wrapper h3 {
    font-size: 1.1em;
    font-weight: normal;
    line-height: 1.5em;
    margin: 0;
}

@-webkit-keyframes check {
    0% {
        height: 0;
        width: 0;
   }
    25% {
        height: 0;
        width: 7px;
   }
    50% {
        height: 20px;
        width: 7px;
   }
}
@keyframes check {
    0% {
        height: 0;
        width: 0;
   }
    25% {
        height: 0;
        width: 7px;
   }
    50% {
        height: 20px;
        width: 7px;
   }
}
@-webkit-keyframes expand {
    0% {
        -webkit-transform: scale3d(1, 0, 1);
        opacity: 0;
   }
    25% {
        -webkit-transform: scale3d(1, 1.2, 1);
   }
    50% {
        -webkit-transform: scale3d(1, 0.85, 1);
   }
    75% {
        -webkit-transform: scale3d(1, 1.05, 1);
   }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        opacity: 1;
   }
}
@keyframes expand {
    0% {
        -webkit-transform: scale3d(1, 0, 1);
        transform: scale3d(1, 0, 1);
        opacity: 0;
   }
    25% {
        -webkit-transform: scale3d(1, 1.2, 1);
        transform: scale3d(1, 1.2, 1);
   }
    50% {
        -webkit-transform: scale3d(1, 0.85, 1);
        transform: scale3d(1, 0.85, 1);
   }
    75% {
        -webkit-transform: scale3d(1, 1.05, 1);
        transform: scale3d(1, 1.05, 1);
   }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        opacity: 1;
   }
}
@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translate3d(0, -25px, 0);
        opacity: 0;
   }
    25% {
        -webkit-transform: translate3d(0, 10px, 0);
   }
    50% {
        -webkit-transform: translate3d(0, -6px, 0);
   }
    75% {
        -webkit-transform: translate3d(0, 2px, 0);
   }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 1;
   }
}
@keyframes bounce {
    0% {
        -webkit-transform: translate3d(0, -25px, 0);
        transform: translate3d(0, -25px, 0);
        opacity: 0;
   }
    25% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
   }
    50% {
        -webkit-transform: translate3d(0, -6px, 0);
        transform: translate3d(0, -6px, 0);
   }
    75% {
        -webkit-transform: translate3d(0, 2px, 0);
        transform: translate3d(0, 2px, 0);
   }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
   }
}
@media (max-width: 600px) {
    .form_wrapper .col_half {
        width: 100%;
        float: none;
   }
    .bottom_row .col_half {
        width: 50%;
        float: left;
   }
    .form_container .row .col_half.last {
        border-left: none;
   }
    .remember_me {
        padding-bottom: 20px;
   }
}
.btn-rounded {
    border: none;
    background-color: #FB0104;
    color: white;
    width: 28%;
    height: 5.7%;
   
    cursor: pointer;
    font-weight: bold;
    border-radius: 15px;
    margin-top: 1.1rem;
  }
  