<div>
  <div class="title">
    <h3>Gestion des congés</h3>
    <mat-divider class="divider"></mat-divider>
  </div>
  <div >
    <form [formGroup]="CongeForm" class="form-inline">
      <button
        class="btn-rounded"
        (click)="redirectAddConge()"
        role="button"
        aria-disabled="false"
      >
        <span><i aria-hidden="true" class="fa fa-plus"></i></span> Nouveau conge
      </button>

      &nbsp;&nbsp;&nbsp;
      <button
        class="btn-rounded-green"
        (click)="exportData()"
        role="button"
        aria-disabled="false"
      >
        <span><i aria-hidden="true" class="fa fa-file-excel"></i></span>&nbsp;
        Export Excel
      </button>

      &nbsp;&nbsp;&nbsp;

      <button
        class="btn-rounded-green"
        (click)="exportDataCsv()"
        role="button"
        aria-disabled="false"
      >
        <span><i aria-hidden="true" class="fa fa-file-excel"></i></span>&nbsp;
        Export CSV
      </button>
      <button
        class="btn-rounded-blue"
        (click)="onUpload()"
        role="button"
        aria-disabled="false"
      >
        <span><i aria-hidden="true" class="fa fa-plus"></i></span> Import Excel
      </button>
      <input
      class="excelimport"
      type="file"
      formControlName="excel"
      (change)="onFileSelected($event)"
    />
      
    </form>
  </div>

  <br /><br />
  <app-avo-datatable
    [displayedColumns]="displayedColumns"
    [nameDisplayedColumns]="displayedColumnsName"
    [dataSource]="dataSource"
    [size]="size"
    (sendAction)="actionEvent($event)"
  >
  </app-avo-datatable>
</div>
