<div>
	<div class="title">
		<h3>Gestion des Conges</h3>
		<mat-divider class="divider"></mat-divider>
	</div>
	<div>
		<form [formGroup]="CongeForm">
			<button class="btn-rounded" (click)="redirectAddConge()"  role="button" aria-disabled="false"> <span><i aria-hidden="true" class="fa fa-plus"></i></span> Nouveau Conge</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="file"   formControlName="excel"
			(change)="onFileSelected($event)">
			<button class="btn-rounded-green" (click)="onUpload()"  role="button" aria-disabled="false"> <span><i aria-hidden="true" class="fa fa-plus"></i></span> Export Excel</button>
	
		</form>
	</div>

	<br><br>
	<app-avo-datatable [displayedColumns]="displayedColumns" [nameDisplayedColumns]="displayedColumnsName" [dataSource]="dataSource" [size]="size" (sendAction)="actionEvent($event)">
	</app-avo-datatable>

	
	</div>