<div>
    <div class="form_wrapper">
     <div class="form_container">
       <div class="title_container">
         <h2>Modifier chantier</h2>
       </div>
       <div class="row clearfix">
         <div class="">
           <form [formGroup]="ChantierForm" ngNativeValidate>
             <div class="row clearfix">
               <div class="col_half">
                 <div class="input_field"> <span><i aria-hidden="true" class="fa fa-brush"></i></span>
                   <input type="text" formControlName="reference" placeholder="code chantier" />
                 </div>
               </div>
               <div class="col_half">
                <div class="input_field">
                  <span><i aria-hidden="true" class="fa fa-user"></i></span>
                  <select formControlName="clientDto" required>
                    <option *ngFor="let item of salariesRt" [value]="item.idCollaborateur">
                      {{ item.nom }}&nbsp;{{ item.prenom }}
                    </option>
                  </select>
                </div>
               </div>
             </div>
    
             <div class="row clearfix">
              <div class="col_half">
                <div class="input_field">
                  <span><i aria-hidden="true" class="fa fa-globe"></i></span>
                  <select formControlName="localisationDto" required>
                    <option *ngFor="let item of localisations" [value]="item.idLocalisation">
                      {{ item.ville }} - {{ item.codePostale }}
                    </option>
                  </select>
                </div>
              </div>
                <div class="col_half">
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-cog"></i></span>
                       <!-- <input type="text" formControlName="etat" placeholder="Etat" />-->
                       <select formControlName="etat" >
                        <option>-- Etat</option>
                         <option value="En Cours">En Cours</option>
                         <option value="Terminé">Terminé</option>
                       </select>
                      </div>
                </div>
              </div>

              <div class="row clearfix">
                <div class="col_half">
                  <div class="input_field"> <span><i aria-hidden="true" class="fa fa-university"></i></span>
                    <input
                    id="nomChantier"
                    matInput
                    type="text"
                    formControlName="nomChantier"
                    placeholder="Nom du Chantier"
                  />
                  </div>
                </div>
                </div>

              <button class="btn-rounded" type="submit" (click)="onSubmit()"><em class="fas fa-check"></em> &nbsp;Soumettre</button>
              &nbsp;
              <button class="btn-rounded-suppr" type="submit" (click)="close()"> &nbsp;Annuler</button>
             
           </form>
         </div>
       </div>
     </div>
   </div>
   
   </div>
   