<div class="container">
    <div class="row">       
            <div class="error-template message-box">
                <h1>
                    <img src="./assets/img/warning-64.png" alt="sofrecom-logo" style="margin-bottom: 10px;"/>
                    :) Oops!</h1>
                <h2>
                   Temporairement indisponible pour maintenance</h2>
                <h1>
                    Nous reviendrons bientôt!</h1>
                <div>
                    <p>
                        La plateforme est en cours de maintenance, veuillez nous excuser pour ce désagrément!</p>  
                </div>
            </div>
    </div>
</div>