<div>
 <div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <h2>Nouveau Chantier</h2>
    </div>
    <div class="row clearfix">
      <div class="">
        <form>
          <div class="row clearfix">
            <div class="col_half">
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-brush"></i></span>
                <input type="text" formControlName="codechantier" placeholder="code chantier" />
              </div>
            </div>
            <div class="col_half">
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                <input type="text" formControlName="nomclient" placeholder="Nom Client"  />
              </div>
            </div>
          </div>
          <div class="input_field"> <span><i aria-hidden="true" class="fa fa-globe"></i></span>
            <input type="text" formControlName="localisation" placeholder="localisation" required />
          </div>

          <input class="button" type="submit" value="Soumettre" />
        </form>
      </div>
    </div>
  </div>
</div>

</div>
