.example-container {
  display: flex;
  flex-direction: column;
  width: 1018px;
  overflow: hidden;
  margin: 0%;
  margin-top: 5%;
}
.example-container2 .mat-form-field + .mat-form-field {
  margin-left: 8px;
  background-color: #ffffff;
}

table {
  width: 60%;
  margin-left: 10%;
}
 td {
  padding: 15px;
  border: 1px solid black;
}
.eye-button:focus {
  outline: none !important;
}
tr.spaceUnder>td {
  padding-bottom: 1em;
}

.spane{
  width: 70%;
  margin-right: 5%;
}

.spaneCheck{
  width: 30%;
}



.headap{
  font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    font-family: "Franklin Gothic Book";
    color: #13404d;
    letter-spacing: 0px;
}
.example-container > * {

  padding-left: 10%;
  top: 20%;
}

.backgroundWhite {
  border-radius: 8px;
  background-color: #ffffff;
  width: 80%;
  margin: 0%;
  margin-left: 3%;
  margin-top: 2%;
  position: relative;
  overflow: auto;
}

.hint {
  color: #bf1515;
}

h3 {
  height: 33px;
  font-family: WorkSans;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.68;
  letter-spacing: normal;
  text-align: left;
  color: #373737;
  padding-top: 1%;
  margin-bottom: -3%;
  padding-left: 3%;
}

.addBtn {
  color: #fff !important;
  height: 43px;
  width: 200px;
  background-color: #006cc2;
  font-family: WorkSans, sans-serif;
  font-weight: bold;
  margin-right: 80px;
  margin-left: 20px;
}
.backBtn {
  color: #006cc2 !important;
  height: 43px;
  width: 200px;
  background-color: #ffffff;
  font-family: WorkSans, sans-serif;
  font-weight: bold;
  margin-right: 0px;
  border-color: #006cc2 !important;
}
.openDialogBtn {
  color: #ffffff !important;
  height: 43px;
  width: 200px;
  background-color: #006cc2;
  font-family: WorkSans, sans-serif;
  font-weight: bold;
  margin-right: 30px;
  border-color: #006cc2 !important;
}
.openDialogBtn:last-child {
  color: #006cc2 !important;
  height: 43px;
  width: 200px;
  background-color: #ffffff;
  font-family: WorkSans, sans-serif;
  font-weight: bold;
  margin-right: 0px;
  border-color: #006cc2 !important;
}

.buttons {
  float: left;
  margin-top: 20%;
}

/* ==========open dialog style========*/

h4 {
  height: 33px;
  font-family: WorkSans;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.68;
  letter-spacing: normal;
  text-align: center;
  color: #373737;
  margin-top: 2%;
}

.blue_snackbar {
  color: #006cc2 !important;
  background: #ffffff !important;
}

.question {
  font-size: 20px;
  color: rgb(54, 52, 52);
  position: absolute;
  right: 30px;
}

#add-test-btn-container {
  margin-top: 2em;
}

.desc-textarea {
  height: 84px;
}
.titre1{
  margin-bottom: 15px;
    font-weight: bold;
    font-size: 25px;
    color: #0004ff90;
}
