<div class="form_wrapper">
    <div class="form_container">
      <div class="title_container">
        <h2>Nouvelle commune</h2>
      </div>
      <div class="row clearfix">
        <div class="">
          <form [formGroup]="LocalisationForm" ngNativeValidate>
            <div class="row clearfix">
              <div class="col_half">
                <div class="input_field">
                  <span><i aria-hidden="true" class="fa fa-user"></i></span>
                  <input
                    id="ville"
                    matInput
                    type="text"
                    formControlName="ville"
                    placeholder="Nom de la Commune"
                  />
                </div>
              </div>
              <div class="col_half">
                <div class="input_field">
                  <span><i aria-hidden="true" class="fa fa-user"></i></span>
                  <input
                    id="codePostale"
                    matInput
                    type="text"
                    formControlName="codePostale"
                    placeholder="Code postale"
                  />
                </div>
              </div>
            </div>
  
         
            <button class="btn-rounded" type="submit" (click)="onSubmit()">
              <em class="fas fa-check"></em> &nbsp;Soumettre
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  