.wrapper {
width: 100%;
height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.image-logo {
    margin-top: 0%;
}

.container {
    margin-top: 0%;
}

  hr.new4 {
    border: 10px;
    border: solid;
    border-color:  #FB0104;
  }
  
 
.btn-rounded {
    border: none;
    background-color: #FB0104;
    color: white;
    width: 45%;
    padding: 0.75rem 1rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 15px;
    margin-top: 1.1rem;
    margin-left: 20%;
  }

  .input-container {
    margin-right: ;
    width: 90%;
    font-size: 1.1rem;
  }
