<div>
  <div class="form_wrapper">
    <div class="form_container">
      <div class="title_container">
        <h2>Nouvelle Tache</h2>
      </div>
      <div class="row clearfix">
        <div class="">
          <form>
            <div class="input_field" style="width: 49%">
              <span><i aria-hidden="true" class="fa fa-brush"></i></span>
              <input
                matInput
                type="text"
                formControlName="intitule"
                placeholder="intitulé tache"
              />
            </div>
            <div class="row clearfix">
              <div class="col_half">
                <label>Date Début :</label>
                <div class="input_field">
                  <span><i aria-hidden="true" class="fa fa-calendar"></i></span>
                  <input
                    matInput
                    type="date"
                    formControlName="dateDebut"
                    placeholder="dateDebut"
                  />
                </div>
              </div>
              <div class="col_half">
                <label>Date Fin :</label>
                <div class="input_field">
                  <span><i aria-hidden="true" class="fa fa-calendar"></i></span>
                  <input
                    matInput
                    type="date"
                    formControlName="dateFin"
                    placeholder="dateFin"
                  />
                </div>
              </div>
            </div>

            <div class="row clearfix">
              <div class="col_half">
                <label>Heure Début :</label>
                <div class="input_field">
                  <span><i aria-hidden="true" class="fa fa-clock"></i></span>
                  <input
                    matInput
                    type="number"
                    formControlName="heureDebut"
                    placeholder="Heure Debut"
                  />
                </div>
              </div>
              <div class="col_half">
                <label>Min Début :</label>
                <div class="input_field">
                  <span><i aria-hidden="true" class="fa fa-clock"></i></span>
                  <input
                    matInput
                    type="number"
                    formControlName="heureFin"
                    placeholder="min debut"
                  />
                </div>
              </div>
            </div>

            <div class="row clearfix">
                <div class="col_half">
                  <label>Heure Fin :</label>
                  <div class="input_field">
                    <span><i aria-hidden="true" class="fa fa-clock"></i></span>
                    <input
                      matInput
                      type="number"
                      formControlName="heureDebut"
                      placeholder="Heure fin"
                    />
                  </div>
                </div>
                <div class="col_half">
                  <label>Min Fin :</label>
                  <div class="input_field">
                    <span><i aria-hidden="true" class="fa fa-clock"></i></span>
                    <input
                      matInput
                      type="number"
                      formControlName="heureFin"
                      placeholder="min Fin"
                    />
                  </div>
                </div>
              </div>
            <div class="row clearfix">
              <div class="col_half">
                <label>Chantier :</label>

                <div class="input_field">
                  <span><i aria-hidden="true" class="fa fa-cog"></i></span>
                  <!-- <input type="text" formControlName="etat" placeholder="Etat" />-->
                  <select>
                    <option>-- Etat</option>
                    <option>En cours</option>
                    <option>Terminé</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="input_field">
              <span><i aria-hidden="true" class="fa fa-pen"></i></span>
              <input
                matInput
                type="text"
                formControlName="intitule"
                placeholder="Commentaire"
              />
            </div>

            <button class="btn-rounded" role="button" aria-disabled="false">
              Soumettre
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
