<div>
    <div class="form_wrapper">
        <div class="form_container">
            <div class="title_container">
                <h2>Nouvelle Demande de conge</h2>
            </div>
            <div class="row clearfix">
                <div class="">
                    <form [formGroup]="CongeForm" ngNativeValidate>

                        
                        <div class="row clearfix">
                            <div class="col_half">
                                <label>Date Début :</label>
                                <div class="input_field"> <span><i aria-hidden="true" class="fa fa-calendar"></i></span>
                                    <input matInput type="date" formControlName="dateDebut"
                                        placeholder="dateDebut" />
                                </div>
                            </div>
                            <div class="col_half">
                                <label>Date Fin :</label>
                                <div class="input_field"> <span><i aria-hidden="true" class="fa fa-calendar"></i></span>
                                    <input matInput type="date" formControlName="dateFin" placeholder="dateFin" />
                                </div>
                            </div>
                        </div>



                        <div class="row clearfix">
                            <div class="col_half">
                              <label>Heure Début :</label>
                              <div class="input_field">
                                <span><i aria-hidden="true" class="fa fa-clock"></i></span>
                                <input
                                  matInput
                                  type="number"
                                  formControlName="heureDebut"
                                  placeholder="Heure Debut"
                                />
                              </div>
                            </div>
                            <div class="col_half">
                              <label>Heure Fin :</label>
                              <div class="input_field">
                                <span><i aria-hidden="true" class="fa fa-clock"></i></span>
                                <input
                                  matInput
                                  type="number"
                                  formControlName="heureFin"
                                  placeholder="Heure fin"
                                />
                              </div>
                            </div>
                          </div>
              
                        <div class="row clearfix">
                            <div class="col_half">
                                <label>Type conge :</label>
                                
                                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                       <!-- <input type="text" formControlName="etat" placeholder="Etat" />-->
                                       <select formControlName="typeconge">
                                         <option >maladie</option>
                                         <option>deces</option>
                                         <option>maternite</option>
                                         <option>autre</option>
                                       </select>
                                      </div>
                                
                            </div>
                        </div>
                        

                        <button class="btn-rounded" type="submit" (click)="onSubmit()">Soumettre</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>