<div>
  <div class="form_wrapper">
    <div class="form_container">
      <div class="title_container">
        <h2>Nouveau collaborateur</h2>
      </div>
      <div class="row clearfix">
        <div class="">
          <form [formGroup]="CompteForm" ngNativeValidate>
            <div class="row clearfix">
              <div class="col_half">
                <label>Nom :</label>
                <div class="input_field">
                  <span><i aria-hidden="true" class="fa fa-user"></i></span>
                  <input
                    matInput
                    type="text"
                    formControlName="nom"
                    placeholder="nom"
                  />
                </div>
              </div>
              <div class="col_half">
                <label>Prenom :</label>
                <div class="input_field">
                  <span><i aria-hidden="true" class="fa fa-user"></i></span>
                  <input
                    matInput
                    type="text"
                    formControlName="prenom"
                    placeholder="prenom"
                  />
                </div>
              </div>
            </div>
            <div class="row clearfix">
                <div class="col_half">
                  <label>username :</label>
                  <div class="input_field">
                    <span><i aria-hidden="true" class="fa fa-user"></i></span>
                    <input
                      matInput
                      type="text"
                      formControlName="username"
                      placeholder="username"
                    />
                  </div>
                </div>
                <div class="col_half">
                  <label>password :</label>
                  <div class="input_field">
                    <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                    <input
                      matInput
                      type="password"
                      formControlName="password"
                      placeholder="pasword"
                    />
                  </div>
                </div>
              </div>


              <div class="row clearfix">
                <div class="col_half">
                  <label>cin :</label>
                  <div class="input_field">
                    <span><i aria-hidden="true" class="fa fa-brush"></i></span>
                    <input
                      matInput
                      type="text"
                      formControlName="cin"
                      placeholder="cin"
                    />
                  </div>
                </div>
                <div class="col_half">
                  <label>date naissance :</label>
                  <div class="input_field">
                    <span><i aria-hidden="true" class="fa fa-calendar"></i></span>
                    <input
                      matInput
                      type="date"
                      formControlName="naissance"
                      placeholder="date naissance"
                    />
                  </div>
                </div>
              </div>

    
              <div class="row clearfix">
                <div class="col_half">
                  <label>adresse :</label>
                  <div class="input_field">
                    <span><i aria-hidden="true" class="fa fa-brush"></i></span>
                    <input
                      matInput
                      type="text"
                      formControlName="adresse"
                      placeholder="adresse"
                    />
                  </div>
                </div>
                <div class="col_half">
                  <label>telephone :</label>
                  <div class="input_field">
                    <span><i aria-hidden="true" class="fa fa-calendar"></i></span>
                    <input
                      matInput
                      type="text"
                      formControlName="telephone"
                      placeholder="telephone"
                    />
                  </div>
                </div>
              </div>

              <div class="row clearfix">
                <div class="col_half">
                  <label>email :</label>
                  <div class="input_field">
                    <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                    <input
                      matInput
                      type="text"
                      formControlName="email"
                      placeholder="email"
                    />
                  </div>
                </div>
                <div class="col_half">
                  <label>nationalite :</label>
                  <div class="input_field">
                    <span><i aria-hidden="true" class="fa fa-globe"></i></span>
                    <input
                      matInput
                      type="text"
                      formControlName="nationalite"
                      placeholder="nationalite"
                    />
                  </div>
                </div>
              </div>

            <div class="row clearfix">
              <div class="col_half">
                <label>Fonction :</label>
                <div class="input_field">
                  <span><i aria-hidden="true" class="fa fa-globe"></i></span>
                  <input
                    matInput
                    type="text"
                    formControlName="fonction"
                    placeholder="fonction"
                  />
                </div>
              </div>
              <div class="col_half">
                <label>role :</label>

                <div class="input_field">
                  <span><i aria-hidden="true" class="fa fa-cog"></i></span>
                  <!-- <input type="text" formControlName="etat" placeholder="Etat" />-->
                  <select formControlName="role" >
                    <option>Collaborateur</option>
                    <option>Administration</option>
                  </select>
                </div>
              </div>
            </div>
        

            <button class="btn-rounded" type="submit" (click)="onSubmit()">
              Soumettre
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
