<div>
  <div class="form_wrapper">
    <div class="form_container">
      <div class="title_container">
        <h2>Nouveau salarié</h2>
      </div>
      <div class="row clearfix">
        <div class="">
          <form [formGroup]="CompteForm" ngNativeValidate>
            <div class="row clearfix">
              <div class="col_half">
                <label>Nom :</label>
                <div class="input_field">
                  <span><i aria-hidden="true" class="fa fa-user"></i></span>
                  <input
                    matInput
                    type="text"
                    formControlName="nom"
                    placeholder="Merci de saisir un Nom"
                  required
                  />
                </div>
              </div>
              <div class="col_half">
                <label>Prénom :</label>
                <div class="input_field">
                  <span><i aria-hidden="true" class="fa fa-user"></i></span>
                  <input
                    matInput
                    type="text"
                    formControlName="prenom"
                    placeholder="Merci de saisir un Prénom"
                    required
                  />
                </div>
              </div>
            </div>
            <div class="row clearfix">
              <div class="col_half">
                <label>Nom d'utilisateur :</label>
                <div class="input_field">
                  <span><i aria-hidden="true" class="fa fa-user"></i></span>
                  <input
                    matInput
                    type="text"
                    formControlName="username"
                    placeholder="Merci de saisir un Username"
                    required
                  />
                </div>
              </div>
              <div class="col_half">
             
                <div class="input_field">
                  <label>Date d'embauche :</label>
                  <div class="input_field">
                    <span><i aria-hidden="true" class="fa fa-calendar"></i></span>
                    <input
                      matInput
                      type="date"
                      formControlName="dateEmbauche"
                     
                      required
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="row clearfix">
              <div class="col_half">
                <label>Email :</label>
                <div class="input_field">
                  <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                  <input
                    matInput
                    type="text"
                    formControlName="email"
                    placeholder="Merci de saisir un email"
                    required
                  />
                </div>
              </div>
              <div class="col_half">
                <label>Date de naissance :</label>
                <div class="input_field">
                  <span><i aria-hidden="true" class="fa fa-calendar"></i></span>
                  <input
                    matInput
                    type="date"
                    formControlName="dateNaissance"
                    placeholder="date naissance"
                 
                  />
                </div>
              </div>
            </div>

            <div class="row clearfix">
              <div class="col_half">
                <label>Adresse :</label>
                <div class="input_field">
                  <span><i aria-hidden="true" class="fa fa-map"></i></span>
                  <input
                    matInput
                    type="text"
                    formControlName="adresse"
                    placeholder="Merci de saisir une adresse"
                    required
                  />
                </div>
              </div>
              <div class="col_half">
                <label>Téléphone :</label>
                <div class="input_field">
                  <span><i aria-hidden="true" class="fa fa-phone"></i></span>
                  <input
                    matInput
                    type="text"
                    formControlName="telephone"
                    placeholder="Merci de saisir un Numéro telephone"
                    required
                  />
                </div>
              </div>
            </div>

            <div class="row clearfix">
              <div class="col_half">
                <label>Fonction :</label>
                <div class="input_field">
                  <span><i aria-hidden="true" class="fa fa-registered"></i></span>
                  <select formControlName="fonction" required>
                    <option value="Gérant">Gérant</option>
                    <option value="Responsable administratif">Responsable administratif</option>
                    <option value="Responsable de travaux">Responsable travaux</option>
                    <option value="Chef d'équipe">Chef d'équipe</option>
                    <option value="Salarié(e)">Salarié(e)</option>
                  </select>
                </div>
              </div>
              <div class="col_half">
                <label>Rôle :</label>

                <div class="input_field">
                  <span><i aria-hidden="true" class="fa fa-cog"></i></span>
                  <!-- <input type="text" formControlName="etat" placeholder="Etat" />-->
                  <select formControlName="role" required>
                    <option value="Collaborateur">Collaborateur</option>
                    <option value="Administrateur">Administrateur</option>
                  </select>
                </div>
              </div>
            </div>

            <button class="btn-rounded" type="submit" [disabled]="CompteForm.invalid" (click)="onSubmit()">
              Soumettre
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
