<div class="wrapper">
    <app-maintenance-mode *ngIf="isMaintenance"></app-maintenance-mode>
    <div *ngIf="!isMaintenance" class="login-container">
        <div class="login-side">
            <div class="login-pic1"></div>
        </div>
        <div class="login-form-container">
            <div class="login-form-header">   
                LOGIN
            </div>
      <br><br>
            <form [formGroup]="loginForm" class="login-form" >
                <mat-form-field appearance="outline" class="input-container">
                    <mat-label>{{ 'LOGIN.TEXT.P1' | translate }}</mat-label>
                    <input type="text" matInput formControlName="username"
                        [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">{{ 'LOGIN.TEXT.IS' | translate }}</div>
                    </div>
                </mat-form-field>
                <mat-form-field appearance="outline" class="input-container"> 
                    <mat-label>{{ 'LOGIN.TEXT.PX' | translate }}</mat-label>
                    <input (keyup.enter)="onSubmit()" [type]="hide ? 'password' : 'text'" matInput
                        formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <button mat-icon-button matSuffix (mousedown)="hide = false" (mouseup)="hide = true"
                        (mouseleave)="hide = true" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"
                        class="eye-button">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">{{ 'LOGIN.TEXT.PR' | translate }}</div>
                    </div>
                </mat-form-field>
                <button class="btn-rounded" (click)="onSubmit()" role="button" aria-disabled="false">{{ 'LOGIN.BOUTTON.LOGIN' | translate }}</button>
                <br><br>
                <div class="input-container-mdp"><a (click)="openPopup()"><font color="black">Mot de passe oublié ?</font> </a></div>
                
            </form>
        </div>
    </div>
</div>
<footer>

    <div >
        <button mat-button [matMenuTriggerFor]="langMenu">
            <img src="./assets/img/european-union.png" class="lang-icon-dimension" alt="lang-icon" />
            <span *ngIf="currentLang!==null">{{currentLang.libelle}}</span>
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #langMenu="matMenu">
            <button mat-menu-item *ngFor="let lang of languages"
                (click)="changeLang(lang.code)">{{lang.libelle}}</button>
        </mat-menu>
    </div>

</footer>
