.example-card {
    max-width: 400px;
    margin-right: 10px; /* espace entre les cartes */
    min-width: 400px;
  }
  
  .example-header-image {
    background-image: url('../../../assets/img/anonymos.png');
    background-size: cover;
  }

  .carding {
    margin-top: 1%;
    margin-left: 1%;
  }
  .example-card:hover {
    transition: none; /* Désactive les transitions */
    transform: none; /* Annule toute transformation */
    /* Ajoutez d'autres propriétés CSS personnalisées au besoin */
  }
  

  .card-container {
    display: flex;


  }
  
  
  

